body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

img {
    max-width: 100%; /* Ensure the image doesn't exceed its natural size */
    max-height: 80vh; /* Limit the height to 80% of the viewport height */
    border-radius: 50%;
    margin-top: 10px;
}

section {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#note-headings {
    list-style-type: none;
    padding: 0;
}

#note-headings li {
    margin-bottom: 10px;
}

#note-headings a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    cursor: pointer;
}

#note-headings a:hover {
    color: #007bff;
}
